<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

{% if animal %}
    {% if animal.author == current_user %}
    <a data-toggle="tooltip" data-placement="top" title="Delete Animal" href="/animal/delete/{{animal.id}}">
        <img width="40" class="bottom-image" src="/static/delete.png">
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Edit Animal" href="/animal/edit/{{animal.id}}">
        <img width="40" class="bottom-image" src="/static/edit.png">
    </a>
    {% endif %}

    {{moment(animal.create_date).calendar()}} by {{animal.author.fname}} {{animal.author.lname}} 

    <p>
        Animal Name: {{animal.animalname}}
    </p>
{% else %}
    
{% endif %}
{% endblock %}