<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        <h1> Animal Form</h1>

        <!--List all errors in a group at the top-->
        {% for author in form.errors %}
            {% for error in form.errors[author] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{author}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post>
            {{ form.hidden_tag() }}

            <p>
                {{ form.subject.label }}<br>
                {{ form.subject() }}<br>
                {% for error in form.subject.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            {{ form.animalname.label }} <br>
            {{ form.animalname(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.animalname.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <br> <br>
            {{form.submit()}}
        </form>
        
{% endblock %}
